<div class="container">
  <div class="title">
    <h1>Advanced Statistics</h1>
    <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
  </div>

  <div id="box-section">

    <div class="box" id="box-brand">
      <div class="icon">
        <img src="../../assets/images/icon-brand-recognition.svg" alt="">
      </div>
      <div class="content">
        <h1>Brand Recognition</h1>
        <p>Boost your brand recognition with each click.Generic links don’t mean a thing. Branded links help instil confidence in your content.</p>
      </div>
    </div>

    <div class="box" id="box-records">
      <div class="icon">
        <img src="../../assets/images/icon-detailed-records.svg" alt="">
      </div>
      <div class="content">
        <h1>Detailed Records</h1>
        <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
      </div>
    </div>

    <div class="box" id="box-custom">
      <div class="icon">
        <img src="../../assets/images/icon-fully-customizable.svg" alt="">
      </div>
      <div class="content">
        <h1>Fully Customizable</h1>
        <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
      </div>
    </div>
  </div>
</div>
