.container {
  width: 90%;
  min-width: 280px;
  max-width: 1000px;
  margin: -20px auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;

    h1 {
      font-size: 1.6em;
      color: var(--very-dark-blue);
      line-height: 60px;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      font-size: 0.75em;
      color: var(--grayish-violet);
      line-height: 30px;
    }
  }

  #box-section {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    .box {
      width: 31%;
      height: 70%;
      min-width: 250px;
      background-color: white;
      padding: 30px;
      border-radius: 5px;

      display: flex;
      align-items: center;
      justify-items: center;

      position: relative;

      .icon {
        position: absolute;
        top: -40px;
        background-color: var(--very-dark-violet);
        border-radius: 50px;
        width: 70px;
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 46%;
        }
      }

      .content {
        margin: 25px auto 0 auto;

        h1 {
          font-size: 0.9em;
          line-height: 18px;
          color: var(--very-dark-violet);
        }

        p {
          font-size: 0.7em;
          line-height: 22px;
          color: var(--grayish-violet);
        }
      }
    }

    #box-brand {
      align-self: flex-start;
      z-index: 1;
    }

    #box-custom {
      align-self: flex-end;
    }

    #box-records::before {
      content: '';
      position: absolute;
      height: 10px;
      width: 100px;
      background-color: var(--cyan);
      top: 50%;
      left: -100px;
    }

    #box-records::after {
      content: '';
      position: absolute;
      height: 10px;
      width: 100px;
      background-color: var(--cyan);
      top: 50%;
      right: -100px;
    }
  }
}

@media screen and (max-width: 880px) {
  .container {
    margin-top: -40px;
  }

  .title {
    width: 90% !important;
    margin: 0 auto 60px auto !important;
    padding: 0 20px !important;

    h1 {
      font-size: 1.15em !important;
      line-height: 35px !important;
    }
    p {
      font-size: 0.65em !important;
      line-height: 22px !important;
    }
  }

  #box-section {
    margin-top: -50px;
    width: 100%;
    min-height: 1000px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .box {
      width: 100%;
      margin: 50px auto;
      text-align: center;

      .icon {
        left: 38%;
      }
    }

    #box-records::before {
      height: 100px !important;
      width: 10px !important;
      top: -100px !important;
      left: 50% !important;
    }

    #box-records::after {
      height: 100px !important;
      width: 10px !important;
      top: 100% !important;
      left: 50% !important;
    }
  }
}
